<div class="container">
<form class="form-control">
    <div class="my-2">
        <label for="title" class="form-label">Title: </label>
        <input type="text" id="title" name="title" [(ngModel)]="title">
    </div>
    <div class="my-2">
        <label for="description" class="form-label">Description: </label>
        <textarea id="description" cols="50" rows="10" name="description" [(ngModel)]="description">
        </textarea>
    </div>
    <button (click)="handleSubmit()">Submit Blog</button>
</form>
</div>